/*regole generali*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*fine regole generali*/

/*impostazione pagina*/
.page{
  background-image: url(../img/sfondo.png);
  padding: 28px 55px;
}

/*fine impostazione pagina*/

/*header*/
header .contenitore{
  height: 250px;
  width: 100%;
  margin: auto;
  border: 15px solid white;
  position: relative;
}
img{
  height: 100%;
  width: 100%;
}
header .contenitore .text{
  color: white;
  text-align: center;
  font-size: 22px;
  font-family: "montserrat"; sans-serif;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%)
}
header .contenitore .text h1{
  font-weight: 600;
  border: 5px solid white;
}
header .menu{
  background-color: #504741;
  text-align: center;
  padding: 0;
  margin: 0;
}
header .menu ul li{
  list-style-type: none;
  display: inline-block;
  padding: 0 15px;
  line-height: 48px;
  color: white;
  font-family: "montserrat"; sans-serif;
  margin: 0;
  border-left: 1px solid rgba(0, 0, 0, .4);
  border-right: 1px solid rgba(255, 255, 255, .1);
}
header .menu ul li:hover{
  background-color: rgba(48, 43, 39, 0.8);
}
header .menu ul li:first-child{
border-left: none;
}
header .menu ul li:last-child{
border-right: none;
}
/*fine header*/
